* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

#horiseon {
    display: inline-block;
    font-size: 48px;
}

/* changes color of "seo" to fit company marketing*/
#seo {
    color: #d9dcd6;
}

/* Moves the listed items to the right of the header inline*/
.quick-links {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.quick-links ul {
    list-style-type: none;
}

.quick-links ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Creates 3 seperate boxes with blue backgrounds for each article giving them white text and pictures alternating from left and right */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-offerings {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-offerings img {
    max-height: 200px;
}

.content-offerings h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Located on the side of website in own box with bluish background white text, center alinged headers, imgs displayed in block */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-topics {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-topics h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-topics img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Center aligned black text with red heart*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}